<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Sobre mí</div>
                            <p align="justify">Desde muy joven, siempre he tenido un sentido de motivación y pasión que me impulsa a seguir adelante. Ya sea que este explorando oportunidades únicas, aprendiendo habilidades adicionales o conociendo gente nueva. Aporto estas características a cada experiencia a lo largo de mi vida a nivel personal y profesional.</p>
                            <p align="justify">Amante de la innovación y todo lo relacionado con la generación de nuevos conocimientos. Apasionado por la cultura “maker”, su principal filosofía es que todos podemos ser creadores.  Unas de mis principales características es buscar, diseñar, pensar y crear soluciones “fáciles” para llevar a cabo proyectos tecnológicamente complejos.</p>
                            <p align="justify">Para obtener más información sobre mí, siga explorando mi sitio o comuníquese directamente.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Información Básica</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Edad:</strong>
                            </div>
                            <div class="col-sm-8">27 años</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">stalin.ct.ss@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Celular:</strong>
                            </div>
                            <div class="col-sm-8">+593987188137</div>
                        </div>
<!--                         <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">#397 ashoka road vidyanagr Hassan</div>
                        </div> -->
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">LENGUAJES:</strong>
                            </div>
                            <div class="col-sm-8">Español, English</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

