<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Educación</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2020-2022</p>
                        <div class="h5">POSGRADO-CURSANDO</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">MAESTRÍA EN SISTEMAS DE INFORMACIÓN MENCIÓN
                              INTELIGENCIA DE NEGOCIOS Y ANALÍTICA DE DATOS MASIVOS</div>
                                <h4 class="category">ESCUELA POLITÉCNICA NACIONAL EPN</h4>
                                <!-- <ul>
                                    <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li>
                                        <li>Completed B.E in Computer Engineering with <b>8.1 CGPA</b>.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2019</p>
                        <div class="h5">PREGRADO</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">INGENIERO EN SISTEMAS INFORMÁTICOS Y DE COMPUTACIÓN </div>
                            <h4 class="category">ESCUELA POLITÉCNICA NACIONAL EPN</h4>
<!--                             <ul>
                                    <li>Completed  <b>Diploma</b> in <b>Computer Science</b> with <b>90%</b> aggregate.</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2006-2012</p>
                        <div class="h5">SECUNDARIA</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">BACHILLER EN ELECTRÓNICA Y CONSUMO</div>
                                <h4 class="category">INSTITUTO TECNOLÓGICO SUPERIOR CENTRAL TÉCNICO ITSCT</h4>
<!--                                 <ul>
                                        <li>Completed <b>ITI</b> in <b>Center of Excellence(COE)</b> with <b>80% </b>aggregate.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
