<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Proyectos</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/ETLPYTHONNOTICE.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">ETL - Páginas de noticias para analisis de sentimientos</h4>
              <h5 class="card-text"><b>Tecnologías  :</b> Python,Web Service, Web Scraping, DataScience.</h5>
  <!--             <h5 class="card-text">
                <a href="http://my-personal-portfolio.epizy.com/?i=2"
                  >View my Live Demo</a
                >
              </h5> -->

<!--               <a
                href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/My-Personal-Portfolio"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/ETLPYTHONREDESSOCIALES.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">ETL- Redes Sociales para obtención de posibles clientes</h4>
              <h5 class="card-text">
                <b>Tecnologías :</b> Python,Web Scraping,Web Service, DataScience.
              </h5>
<!--
              <h5 class="card-text">
                <a href="http://msgc320.pythonanywhere.com/"
                  >View my Live Demo</a
                >
              </h5>

              <a
                href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/My-Personal-Portfolio"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/floricolaspng.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">ETL- BI - Ventas Floricolas</h4>
              <h5 class="card-text">
                <b>Técnologias :</b> Python,Power BI,Web Services, DataScience.
              </h5>
<!--               <h5 class="card-text">
                <a href="http://www.brahmanvarvadhusuchak.com/"
                  >View my Live Demo</a
                >
              </h5>
              <a
                href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/Matrimonial-Website"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p3.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Aplicativo móvil OCR - Digitalización de contratos</h4>
              <h5 class="card-text">
                <b>Técnologias :</b> Python, Angular, Ionic, Micro-Servicios, Spring boot, servicios REST.
                <br>
              </h5>
<!--               <h5 class="card-text">
                <a
                  href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"
                >
                  Read Blog on this Project</a
                >
              </h5>
              <a
                href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05?tab=repositories"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/UBIKATE.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Aplicación Web y móvil para el seguimieno de paquetes y encomiendas</h4>
              <h5 class="card-text">
                <b>Técnologias :</b> Ionic,Angular,Spring boot, microservicios, Java
              </h5>
              <!-- <h5 class="card-text">
                <a
                  href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"
                >
                  Read Blog on this Project</a
                >
              </h5>
              <a
                href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/CONTROL_ROBOT.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Aplicativo móvil para el control de un robot</h4>
              <h5 class="card-text">
                <b>Técnologias :</b> Ionic, bluetooth,c++
              </h5>
        <!--       <h5 class="card-text">
                <a
                  href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397"
                >
                  Read Blog on this Project</a
                >
              </h5>
              <a
                href="https://github.com/mehulk05?tab=repositories"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05?tab=repositories"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/AIAPP.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Aplicativo Movil -Realidad aumentada Alfabeto</h4>
              <h5 class="card-text">
                <b>Técnologias :</b> Unity,C#
              </h5>
<!--               <a
                href="https://github.com/mehulk05/Know-Your-Disease"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/Know-Your-Disease"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
      </div>
    </div>
  </div>
</div>
